@font-face {
    font-family: 'MB';  /* var(--font-family); */
    src: url('../fonts/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MR';  /* var(--font-family); */
    src: url('../fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}